body {
  background-color: var(--brown);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

@import "vars.css";
@import "app.css";
@import "card.css";
@import "login.css";
@import "nav.css";
@import "spinner.css";
@import "interactive-button.css";
