.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.card-wrapper {
  display: flex;
  background-color: var(--grey);
  border-radius: 10px;
  overflow: hidden;
}

.card-wrapper.card-small img {
  width: 150px;
  height: 150px;
}

.card-description {
  flex: 1;
  padding: 0 20px;
  color: var(--green);
}

.card-name {
  color: inherit;
  text-decoration: none;
}

.card-name:hover {
  color: var(--green-variation);
}

.cards-actions {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  margin-top: 50px;
}

@media (max-width: 900px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}
